<div class="register">
  <h2>Register</h2>

  <div *ngIf="mensajeError" class="error-message">
    {{ mensajeError }}
  </div>

  <div *ngIf="mensajeExito" class="success-message">
    {{ mensajeExito }}
  </div>

  <form [formGroup]="formularioRegistro" (ngSubmit)="enviar()">
    <label>
      Nombre:
      <input type="text" formControlName="nombre" />
    </label>

    <label>
      Apellido:
      <input type="text" formControlName="apellido" />
    </label>

    <label>
      Fecha de nacimiento:
      <input type="date" formControlName="fecha_nacimiento" />
    </label>

    <label>
      Email:
      <input type="email" formControlName="correo" />
    </label>

    <label>
      Password:
      <input type="password" formControlName="contrasena" />
    </label>

    <button type="submit">Registrarse</button>
  </form>

  <a routerLink="/auth/login">Iniciar sesión</a>
</div>